* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.App {
  min-height: 100vh;
  position: relative;
  background-color: #000000;
}

.camera{
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover;
  display: flex;
  justify-content: center;
  
}

.result{
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0);
  transition: 0.4s;
  
}

.result.hasPhoto{
  left: 0;
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  object-fit: cover;
  padding-top: 50px;
  padding-bottom: 110px;
  transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
  
}

#takePhoto {
  position: absolute;
  bottom: 28px;
  left: 50%;

  display:block;
  height: 60px;
  width: 60px;
  appearance: none;
  border: none;
  outline: none;

  border-radius: 50%;
  padding: 8px 16px;
  background-image: linear-gradient(to right, #FFFFFF 50%, rgb(0, 0, 0) 50%);
  background-position: 0%;
  background-size: 200%;
  transition: 0.4s;
  cursor: pointer;
}

#closePhoto {
  position: absolute;
  bottom: 20px;
  left: 50%;

  display:block;
  height: 60px;
  width: 60px;
  appearance: none;
  border: none;
  outline: none;

  border-radius: 50%;
  padding: 8px 16px;
  background-image: linear-gradient(to right, #FFFFFF 50%, rgb(0, 0, 0) 50%);
  background-position: 0%;
  background-size: 200%;
  transition: 0.4s;
  cursor: pointer;
}
.lower {
  display: inline-block;
}
#send {
  position: absolute;
  bottom: 20px;

  display:block;
  height: 60px;
  width: 60px;
  appearance: none;
  border: none;
  outline: none;

  border-radius: 50%;
  padding: 8px 16px;
  background-image: linear-gradient(to right, #FFFFFF 50%, rgb(0, 0, 0) 50%);
  background-position: 0%;
  background-size: 200%;
  transition: 0.4s;
  cursor: pointer;
}
.upper {
  display: inline-block;
}
#info {
  float: right;
  position: absolute;
  top: 10px;
  right:40px;
  padding: 2px 5px;
}

#upload {
  position: absolute;
  float: left;
  left: 280px;
  top: 10px;
  padding: 2px 5px;
}

#file {
  position: absolute;
  top: 10px;
  left: 40px;

}



button:hover{
  background-position: 100%;
}

canvas {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 80px;
  transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
}